In [1]:
# practice 1 - string data type

str = input("Enter your state of origin: ")

print("Your state of origin is: ", str)
print("The first character is: ", str[0])
print("The characters starting from 3rd to 5th are: ", str[2:5])
print("The string starting from 3rd character is: ", str[2:])
print("State of origin two times", str * 2)

Enter your state of origin:  Enugu

Your state of origin is:  Enugu
The first character is:  E
The characters starting from 3rd to 5th are:  ugu
The string starting from 3rd character is:  ugu
State of origin two times EnuguEnugu

In [1]:
#practice 2 - numeric data type

#Input from user 
m = float(input("Enter mass in kilograms: "))

# Constant value for the speed of light in m/s
c = 299792458

# Calculating energy using Einstein's equation
energy = m * c ** 2

# Displaying the result
print(f"The energy equivalent to {m} kg of mass is {energy} joules.")

Enter mass in kilograms:  25

The energy equivalent to 25.0 kg of mass is 2.246887946842044e+18 joules.

In [5]:
#practice 3 - list data type

list = [ 'Anacoda', 786, 2.23, 'Jupyter', 70.2]
shortlist = [321, 'Python']

print(list)              #prints complete list
print(list[0])           #prints first element of the list
print(list[1:3])         #prints elements starting from 2nd till 3rd 
print(list[2:])          #prints elements starting from 3rd element 
print(shortlist * 2)     #prints two times
print(list + shortlist)  #prints concatenated lists

['Anacoda', 786, 2.23, 'Jupyter', 70.2]
Anacoda
[786, 2.23]
[2.23, 'Jupyter', 70.2]
[321, 'Python', 321, 'Python']
['Anacoda', 786, 2.23, 'Jupyter', 70.2, 321, 'Python']

In [3]:
# practice 4 - tuple data type

tuple = ("Ekiti", 750, 'Oshogbo', 250, "Akure", 500)
s_tuple = ("Abeokuta", 300, "Ogbomoso")

# prints the complete tuple
print(tuple)

# prints last element of the tuple 
print(tuple[-1])

# prints elements of the tuple starting from 2nd till 3rd
print(tuple[2:4])

# prints elements of the tuple starting from 3rd element 
print(tuple[3:])

# prints the contents of the tuple twice
print(s_tuple * 2)

# prints concatenated tuples
print (tuple + s_tuple)

('Ekiti', 750, 'Oshogbo', 250, 'Akure', 500)
500
('Oshogbo', 250)
(250, 'Akure', 500)
('Abeokuta', 300, 'Ogbomoso', 'Abeokuta', 300, 'Ogbomoso')
('Ekiti', 750, 'Oshogbo', 250, 'Akure', 500, 'Abeokuta', 300, 'Ogbomoso')

In [4]:
#practice 5 - boolean data type 

# returns false as game_1 is not equal to game_2 
game_1 = 2
game_2 = 4

print(game_1 == game_2)

# returns false as val is none
val = None
print(bool(val))

# returns false as num is an empty sequence
num = ()
print(bool(num))

#returns true as age is boolean
age = True
print(bool(age))

False
False
False
True

In [7]:
#practice 6 - data type conversion

#convert to int 

grade = int(70)          #grade will be 70
gpa = int(4.9)           #gpa will be 4.9
cgpa = int("4")          #cgpa will be 4 

print(f"Grade = {grade}")
print(f"GPA = {gpa}")
print(f"CGPA = {cgpa}")

Grade = 70
GPA = 4
CGPA = 4

In [8]:
#practice 7 - data type conversion

#convert to float

grade = float(97)
gpa = float(5)
cgpa = float("4.7")

print(f"Grade = {grade}")
print(f"GPA = {gpa}")
print(f"CGPA = {cgpa}")

Grade = 97.0
GPA = 5.0
CGPA = 4.7